
Gerber/potwing.zip

*.kicad_pcb

Gerber/PotWing-B_Cu.gbl

Gerber/PotWing-B_Mask.gbs

Gerber/PotWing-Edge_Cuts.gbr

Gerber/PotWing-F_Cu.gtl

Gerber/PotWing-F_Mask.gts

Gerber/PotWing-F_SilkS.gto

PotWing.kicad_pcb-bak

Gerber/PotWing.drl
